{% extends 'base.html' %}
{% block content %}
<br><br>

<div style="background-color:cornsilk;text-align: center;" class="container-fluid">
    <br><br>
    <h3><b>Know weather by City</b></h3>
    <form method="POST" enctype="multipart/form-data">
        <!-- Very Important csrf Token -->
        {% csrf_token %}
        <table>
            {{ form.as_p }}

        </table>
        <br>
        <input type="submit" class="btn btn-primary">
    </form>
    <br>
    {% if temp_min %}
                    <table class="table table-responsive">
                    
                        <tbody>
                           
                            <tr>
                                <td>
                                    <h4><b>Minimum Temp.</b></h4>
                                </td>
                                <td>
                                    <h4><b>{{ temp_min }} °Celcius</b></h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4><b>Maximum Temp.</b></h4>
                                </td>
                                <td>
                                    <h4><b>{{ temp_max }} °Celcius</b></h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4><b>Humidity</b></h4>
                                </td>
                                <td>
                                    <h4><b>{{ humidity }} %</b></h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4><b>Visibility</b></h4>
                                </td>
                                <td>
                                    <h4><b>{{ visibility }} Km</b></h4>
                                </td>
                            </tr>
                           
                    
                    
                        </tbody>
                       
                    </table>
    
{% endif %}
<h4 style="text-align:start"><a href="{% url 'geograph_weather' %}">Look by coordinates</a></h4>
</div>


{% endblock %}


